* {
  box-sizing: border-box;
}

html {
  margin: auto;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* background-color: rgb(13, 11, 20,0.7); */
  background-color: #242033f1;
  color: #f2faf2;
  max-width: 1400px;
  text-align: center; 
}



.App__header{
/* background-color: hotpink; */
height:130px;
background:url(MRNmobile.png);
background-repeat: no-repeat;
background-position: center;
text-align:center;
}
input {
  width: 80%;
  font-size:18px;
  padding-left:20px;
}
a {
  text-decoration: none;
  color: inherit;
}

.search__form{
  align-content: left;

}

h2{
  /* border-top: 2px solid; */
  padding-top: 10px;
  font-size: 15px;
  padding-bottom:10px;
  
}


.results__body{
  margin-top:10px;
}
article{
  border:2px solid #fff;
  border-radius: 4px;
  background-color: #5f597596
}
.article__text{
  display:none;
}
.article__picture{
  display:flex;
  flex-direction:column
}

#article__main{
  display:flex;
  flex-direction:row

}

.hidden__text{
  margin-left:10px;
  margin-right:10px;
  font-size:12px;
}

/*thumnails for mobile*/
img {
  border: 2px solid #000;
  border-radius: 4px;
  padding: 5px;
  margin-left:5px;
  width: 150px;
  height:auto;

}

.checked {
  color: orange;
  font-size:15px;
}
.unchecked{
  color:grey;
}
/*tablet view*/
@media (min-width: 768px) {
  .App__header{
    background-color: hotpink;
    height:175px;
    background:url(MRNred.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align:center;
    }

    h2{
      padding-top: 10px;
      font-size: 18px;
      padding-bottom:10px;
      
    }

    .hidden__text{
      margin-left:10px;
      margin-right:10px;
      font-size:18px;
    }

    input {
      width: 60%;
      font-size:28px;
      /* margin-left:78px; */
      /* float: left; */
    }
    button{
      width: 10%;
      height:38px ;
      font-size:28px;
   
    }

}


@media (min-width: 1400px) {
  .App__header{
    background-color: hotpink;
    height:175px;
    background:url(MRNred.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align:center;
    }
  input {
    width: 60%;
    font-size:28px;
    /* margin-left:78px; */
    /* float: left; */
  }
  button{
    width: 10%;
    height:38px ;
    font-size:28px;
    
    
  }
  
.results__body{
   display:flex; 
   flex:10;
   flex-direction:row;
   flex-wrap:wrap;
   justify-content: center;
}



article{
 width:20%;
  }
  .article__picture{
    flex: 2;
    font-size:20px;
    padding: 10px;
  }

  #article__main{
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
  
  }
    
  img {
    max-width:100%;
    padding: 5px;
    width: auto;
    height:300px;
  
  }
  .hidden__text{
    margin-left:10px;
  }
}


