body {
  display: flex;
  background: #000;
  color: white;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  line-height: 1em;
}

.top__line {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: space-between;
}
.films {
  display: column;
  overflow: auto;
}
.film {
  margin: 25px 30px 25px 30px;
}

.image {
  border: 2px solid #fff;
  border-radius: 5px;
  width: 70x;
}
.container {
  position: relative;
}
.search {
  color: #fff;
}
.info {
  font-family: "Slabo 15px", serif;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

button.favourites {
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  height: 40px;
  width: 40px;
}

button.favourites:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.title {
  margin-right: 50px;
}

.search input[type="submit"] {
  color: #fff;
  font-family: "Slabo 15px", serif;

  border: 1px solid currentColor;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: transparent;
  padding: 5px;
}

.search input[type="submit"]:hover {
  color: #eee;
}
.favourites__container {
  position: relative;
  z-index: 1;
}
.favourites__container .favourites__display {
  display: none;
}

.favourites__container:hover .favourites__display {
  display: block;
}
.favourites__display {
  position: absolute;
  background-color: #fff;
  font-weight: 300;
  color: #000;
}

.favourites__display li {
  list-style: none;
}

.search input[type="submit"]:hover {
  color: #eee;
}
@media (min-width: 768px) {
  .top__line {
    margin-left: 30px;
    margin-right: 30px;
  }
  .films {
    display: flex;
    overflow: auto;
  }

  .info {
    font-family: "Slabo 27px", serif;
  }

  .search {
    font-family: "Slabo 30px", serif;
  }

  .title {
    margin-right: 50px;
  }
}
