.result__item__details--active {
    display: block;
}

.result__item__details--inactive {
    display: none;
}

.pages--notVisable {
    display: none;
}

.pages--visable {
    display: block;
}

.button--notVisable {
    display: none;
}