html {
    scroll-behavior:smooth
}
  
* {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 1rem;
    box-sizing: border-box;
    line-height: 1.5rem;
    font-size: 1rem;
    letter-spacing: 0.02rem;
}

.search {
    font-size: 1.5rem;
    padding: 1rem;
}

.search-results {
    font-size: 1.5rem;
    padding: 1rem;
}