/* font-family: 'Source Sans Pro', sans-serif; */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

:root {
  --primary-color: #f1f1f1;
  --secondary-color: #fdb813;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.container {
  width: 100%;
  max-width: 100%;
}

h1.main-heading {
  padding-left: 30px;
}

@media (min-width: 960px) {
  h1.main-heading {
    padding-left: 0;
  }
}

/* Search form  */
.search-form {
  /* margin-bottom: 60px; */
  background-color: var(--primary-color);
  padding: 30px;
  margin-bottom: 50px;
}

@media (min-width: 960px) {
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.movie-request__form {
  display: block;
  position: relative;
}
@media (min-width: 768px) {
  .movie-request__form {
    display: flex;
    flex-wrap: wrap;
  }
}

.search-form input.movie-request__input {
  width: calc(100% - 36px);
  padding: 15px;
  font-size: 1.1rem;
  color: var(--secondary-color);
}

.movie-request__submit {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: var(--secondary-color);
  color: #fff;
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .movie-request__submit {
    width: 100px;
  }
  .search-form input.movie-request__input {
    width: calc(100% - 140px);
  }
}

/* Autocomplete */
.autocomplete {
  width: calc(100% - 25px);
  position: absolute;
  top: 58px;
  background-color: #fff;
  margin: 0;
  left: 1px;
  list-style-type: none;
  padding-left: 20px;
}
.autocomplete li {
  line-height: 30px;
}
.autocomplete li:hover {
  color: #666;
  cursor: pointer;
}

/* Search filters */
.movie-request__filters-list {
  width: 100%;
  margin-top: 10px;
  padding-left: 9px;
}
.movie-request__filters-list.hidden {
  display: none;
}
.movie-request__filters-list select {
  margin-right: 10px;
}
.movie-request__filters-list label {
  font-size: 0.875rem;
}

.movie-request__filters-toggle {
  border: none;
  background-color: transparent;
  margin-top: 10px;
  font-size: 0.875rem;
}

.movie-request__filters-toggle:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* Movies list */
.movie-list-wrapper {
  display: grid;
  grid-template-columns: 100%;
  padding: 30px;
  margin-bottom: 50px;
  background-color: var(--primary-color);
}

.movie-details {
  display: grid;
  grid-template-columns: 100%;

  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  animation: fade-in 4s 1;
}

@media (min-width: 480px) {
  .movie-details {
    grid-template-columns: 200px auto;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .movie-details {
    padding-right: 35px;
  }
  .movie-list-wrapper {
    grid-template-columns: 50% 50%;
  }
  
  .movie-details {
    grid-template-columns: 170px auto;
    margin-bottom: 40px;
  }
}

.movie-info__moreinfo {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 40px;
  border: none;
  background-color: var(--secondary-color);
  /* color: #fff; */
  font-size: 0.875rem;
}

.movie-info__moreinfo:hover {
  cursor: pointer;
  opacity: .8;
}

.movie-info__title {
  border-bottom: 2px solid var(--secondary-color);
}
.movie-info__imdb-link {
  display: block;
  color: #000;
}

.movie-poster img {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 480px) {
  .movie-poster img {
    width: 100%;
    max-width: 150px;
  }
}

/* Movie more info details */
ul.movie-info__moreinfo-details {
  list-style-type: none;
  padding-left: 0;
}

/* Infnitie scroll loading */
.search-results__loading {
  display: none;
  text-align: center;
  margin-bottom: 50px;
}
.search-results__loading.show {
  display: block;
}

/* Back To Top */
.back-to-top {
  display: none;
}

.back-to-top.visible {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: var(--secondary-color);
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  animation: fade-in 1s 1;
}

.back-to-top:hover {
  cursor: pointer;
  opacity: .8;
}

/* Errors */
.error-box {
  display: none;
  width: calc(100% - 44px);
  color: #fff;
  background-color: tomato;
  padding: 10px 20px;
}

/* Pagination */
.pagination {
  list-style-type: none;
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-left: 0;
}

.pagination-index {
  margin: 0 20px;
}

/* .pagination li {
} */

.pagination li:hover {
  cursor: pointer;
  opacity: 0.7;
}


/* ANIMATIONS */

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}