html,
body {
  height: 100%;
  background-color: silver;
}

html {
  box-sizing: border-box;
}

.header {
  padding: 5px 10px;
  background-color: navy;
  border: solid 6px black;
}

.title {
  display: flex;
  justify-content: center;
  color: white;
  text-transform: capitalize;
  font-family: Impact;
}

.container {
  padding: 5px 10px;
  background: silver;
}

.search {
  display: flex;

  justify-content: center;
  padding: 2px 2px 2px 10px;
  background: navy;
  margin: auto;
  font-size: 14px;
  
}

.search__label {
  align-self: center;
}

.search__input {
  justify-content: center;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search__btn {
  text-transform: uppercase;
  background: lightblue;
}

.search,
.search__input,
.btn {
  transition: 0.5s background-color, 0.5s color;

  padding: 5px 10px;
  border: none;
  font: inherit;
  border: solid 6px black;
}

.movie__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  background-color: navy;
  color:white;
  width: 360px;
  padding: 10px;
  text-align: center;
  border: solid 6px black;
  margin-top: 10px;
  margin-bottom: 10px'
}

.movie__details {
  position: relative;
  background-color: white;
  color:black;
  border: solid 6px black;
}
